* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    background-color: #f7eeeefe;
}

.mp4 {
    background-color: #f7eeeefe;
    text-align: center;
}


header {
    display: flex;
    /* height: 100px; */
    background-color: #d8240d;
    justify-content: center;
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;

}




.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 40px;

}


.card .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background-color: white;
}


.card .content .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.card .content span {
    position: absolute;
    width: 350px;
    height: 150px;
    background: linear-gradient(to right, rgb(183, 48, 48), #d8240d);
    transform: rotate(-40deg);
    top: -50px;
    left: -100px;

}



.card .content h4 {
    font-size: 18px;
    color: #1a1919;
    margin-bottom: 5px;
}


.card .content p {
    font-size: 13px;
    color: #1a1919;
    margin-bottom: 10px;
}



.card .links {
    position: absolute;
    z-index: 90;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 10px;
    top: 15px;
    transition: .5s;
}

.card:hover .links {
    right: -50px;
    border-radius: 0 10px 10px 0;
}

.card .links a {
    font-size: 20px;
    color: #646069
}

.card .links a:nth-child(1):hover {
    color: #0158ca;
}

.card .links a:nth-child(2):hover {
    color: #981ae2;
}

.card .links a:nth-child(3):hover {
    color: #0158ca;
}



footer {
    display: flex;
    /* height: 100px; */
    background-color: #d8240d;

}

.posicion {
    margin-top: 35px;
    margin-left: 135px;
    text-decoration: none;
    color: white;
}

.posicion2 {
    margin-top: 35px;
    margin-left: 185px;
    text-decoration: none;
    color: white;
}

.posicion3 {
    margin-top: 35px;
    margin-left: 305px;
    text-decoration: none;
    color: white;
}

.posicion4 {
    margin-top: 35px;
    margin-left: 365px;
    text-decoration: none;
    color: white;
}